body {
    font-family: Arial;
    margin: 30px;
}
input, select, textarea {
    padding: 8px;
    margin: 5px 0;
    width: 100%;
}
button {
    padding: 10px;
    background: black;
    color: white;
    border: none;
}
.card {
    border: 1px solid #aaa;
    padding: 15px;
    margin-bottom: 10px;
}